/* Стили для всего документа */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
    margin: 0 auto;
    min-width: 1200px;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: rgb(0,0,0);
    background: rgb(255,255,255);
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* img {
    max-width: 100%;
    height: auto;
} */

.icon-new {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-image: url(../img/PNG/new_flag.png);
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 1;
}

/* Стили для header */

/* Общие для стили header */

.main-header {
    background-color: rgb(243,247,249);
    font-family: "Cuprum", "Arial", sans-serif;
    min-height: 320px;
}

.main-header a {
    text-decoration: none;
    color: rgb(255,255,255);
}

/* Индивидуальные стили для header */

/* Индивидуальные стили для header-top */

.header-top {
    background-color: rgb(41,52,73); 
    font-size: 17px;
    line-height: 18px;
} 


.header-top .header-top-wrapper {
    display: flex;
}

.header-logo {
    background-color: rgb(238,54,67);
    text-align: center;
    box-shadow: 0 5px 0 0 rgb(181,41,51);
    padding: 13px 55px 7px 55px;
}

.header-logo:hover {
    background-color: rgb(202,44,55);
    box-shadow: 0 5px 0 0 rgb(154,33,42);
}

.header-logo:active {
    background-color: rgb(186,39,50);
    box-shadow: 0 5px 0 0 rgb(142,30,38);
}

.header-top input {
    background-color: rgb(41,52,73);
    background-image: url(../img/SVG/icon-search-repose.svg);
    background-repeat: no-repeat;
    background-position: 17px, 45%;
    border: none;
    width: 270px;
    padding: 11px 0 11px 0;
    padding-left: 49px;
}

.header-top input:hover {
    background-color: rgb(33,42,58);
    background-image: url(../img/SVG/icon-search-hover.svg);
}

.header-top input:focus {
    background-color: rgb(255,255,255);
    background-image: url(../img/SVG/icon-search-focus.svg);
}

.header-top input::placeholder {
    color: rgb(255,255,255);
}

.bookmark {
    background-image: url(../img/SVG/icon-bookmark-repose.svg);
    background-repeat: no-repeat;
    background-position: 17px 12px;
    padding: 12px 0px 0px 45px;
    width: 150px;
    box-sizing: border-box;
}

.bookmark:hover {
    background-color: rgb(33,42,58);
    background-image: url(../img/SVG/icon-bookmark-hover.svg);
}

.bookmark:active {
    background-color: rgb(22,29,41);
    background-image: url(../img/SVG/icon-bookmark-active.svg);
    color: rgb(162,165,169);
}

.basket {
    background-image: url(../img/SVG/icon-cart-repose.svg);
    background-repeat: no-repeat;
    background-position: 18px 12px;
    padding: 12px 0px 0px 50px;
    width: 150px;
    box-sizing: border-box;
}

.basket:hover {
    background-color: rgb(33,42,58);
    background-image: url(../img/SVG/icon-cart-hover.svg);
}

.basket:active {
    background-color: rgb(22,29,41);
    background-image: url(../img/SVG/icon-cart-active.svg);
    color: rgb(162,165,169);
}

.basket-active {
    background-color: rgb(238,54,67);
    background-image: url(../img/SVG/icon-cart-catalog.svg);
    background-repeat: no-repeat;
    background-position: 18px 12px;
    padding: 12px 0px 0px 50px;
    width: 150px;
    box-sizing: border-box; 
} 

.place-order {
    background-color: rgb(99,166,62);
    padding: 12px 0px 0px 0px;
    width: 150px;
    text-align: center; 
}

.place-order:hover {
    background-color: rgb(95,187,45); 
}

.place-order:active {
    background-color: rgb(81,133,52); 
    color: rgb(168,194,154);
}

/* Индивидуальные стили для header-center */

.header-center {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 52px;
}

.header-center h1 {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: rgb(238,54,67);
    margin: 0;
    padding-top: 49px;
}

.header-center-contacts {
    margin-left: 40px;
}

.header-center-contacts {
    padding-top: 46px;
}

.header-center-contacts .telephone {
    box-sizing: border-box;
    font-size: 21px;
    line-height: 21px;
    color: rgb(238,54,67);
    border: 3px solid rgb(255,255,255);
    padding: 9px 0px 10px 0px;
    background-image: url(../img/SVG/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 12px 10px;
    margin-left: 4px;
    padding-left: 21px;
    width: 270px;
}

.header-center-contacts p {
    font-size: 14px;
    line-height: 24px;
    color: rgb(50,66,92);
    text-align: center;
    margin: 0;
}

.header-center-contacts p:last-child {
    padding-top: 3px;
    padding-left: 2px;
} 

.header-center ul {
    list-style: none;
    display: flex;
}

.user-navigation  {
    padding-top: 45px;
}

.login-link a, .registration-link a {
    font-size: 21px;
    line-height: 21px;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
}

.registration-link {
   margin-left: 10px;
}

.login-link a {
    background-image: url(../img/SVG/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    padding: 10px 26px 10px 48px;
}

.registration-link a {
    padding: 10px 24px 10px 24px;
}

.login-link a:hover {
    color: rgb(238,54,67);
    background-image: url(../img/SVG/icon-login-hover.svg);
}

.registration-link a:hover {
    color: rgb(238,54,67);
}

.login-link a:active {
    color: rgb(178,178,178);
    background-image: url(../img/SVG/icon-login.svg);
}

.registration-link a:active {
    color: rgb(178,178,178);
}

/* Индивидуальные стили для header-center-catalog */

.authorized-user {
    padding-top: 46px;
    margin-left: 20px;
}
.authorized-user-menu {
    width: 299px;
    height: 45px;
    background-color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.authorized-user-menu .authorized-user-name {
    font-size: 21px;
    line-height: 21px;
    color: rgb(0,0,0);
    background-image:url(../img/SVG/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 13px 1px;
    padding-left: 46px;
}

.authorized-user-menu:hover .authorized-user-name {
    background-image: url(../img/SVG/icon-user-hover.svg);
}

.authorized-user-menu:active .authorized-user-name {
    color: rgb(178,178,178);
    background-image: url(../img/SVG/icon-user.svg);
}

.authorized-user-menu .de-authorization {
    width: 35px;
    height: 20px;
    background-image: url(../img/SVG/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 4px 1px;
}

.authorized-user-menu:hover .de-authorization {
    background-image: url(../img/SVG/icon-logout-hover.svg);
}

.authorized-user-menu:active .de-authorization {
    background-image: url(../img/SVG/icon-logout.svg);
}

.authorized-navigation {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.user-order {
    padding-left: 18px;
}

.personal-account {
    margin-left: 32px;
}

.authorized-navigation li:last-child {
    list-style-type: disc;
}

.user-order a, .personal-account a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: rgb(50,66,92);
}

.user-order a:hover, .personal-account a:hover {
    color: rgb(238,54,67);
}

.user-order a:active, .personal-account a:active {
    color: rgb(178,178,178);
}

/* Индивидуальные стили для header-navigation */

.header-navigation {
    background-color: rgb(50,66,92);
    box-shadow: 0 5px 0 0 rgb(41,52,73);
    margin-top: 39px; 
}

.header-navigation ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    padding-left: 22px;
    padding-right: 24px;
}

.header-navigation a {
    display: block;
    font-size: 17px;
    line-height: 17px;
    color: rgb(255,255,255);
    padding: 20px 30px 18px 30px;

}

.site-navigation a:hover {
    background-color: rgb(41,52,73);
}

.site-navigation a:active {
    color: rgb(142,147,156);
    background-color: rgb(29,39,57);
}

/* Стили для main */

/* Общие для стили main */

.main-index a {
    text-decoration: none;
    color: rgb(255,255,255);
}
.main-index {
    margin-top: 60px;
}

/* Индивидуальные стили для main */

/* Промо блок главная */

.main-promo {
    display: flex;
}

.slider-none {
    display: none;
} 

.promo-left, .promo-right {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
    justify-content: space-between;
    min-height: 408px;
}

.promo-right {
    justify-content: flex-end;
}

.slider {
    margin-bottom: -8px;
    position: relative;
}

.main-promo h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: rgb(255,255,255);
    margin: 0;
    margin-top: 19px;
    margin-left: 2px;
}

.promo-link {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.1);
    border-radius: 2px;
    text-align: center;
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 4px;
}

.promo-link:hover {
    background-color: rgba(0,0,0,.2);
}

.promo-link:active {
    background-color: rgba(0,0,0,.3);
}

.promo {
    display: flex;
    flex-flow: column;
}

.promo-material {
    background-color: rgb(255,191,71);
    background-image: url(../img/SVG/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 83%;
    position: relative;
}

.promo-tool {
    background-color: rgb(59,188,227);
    background-image: url(../img/SVG/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 87%;
}

.promo-technic {
    background-color: rgb(220,145,216);
    background-image: url(../img/SVG/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 86%;
}

.promo-discount {
    background-color: rgb(142,215,143);
    background-image: url(../img/SVG/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 81%;
}

.promo-delivery {
    background-color: rgb(255,192,71);
    background-image: url(../img/SVG/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 86%;
}

.main-promo .promo {
    min-height: 123px;
    width: 300px;
    padding-left: 20px;
    box-sizing: border-box;
}

.slide-text {
    font-family: "Cuprum", "Arial", sans-serif;
    color: rgb(255,255,255);
    position: absolute;
    left: 24px;
    display: flex;
    flex-flow: column;
    min-height: 220px;
}

.center-circle {
    position: absolute;
    bottom: 36px;
    left: 295px;
}

.center-circle svg:last-child {
    padding-left: 7px;
}

.slide-text a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgb(238,54,67);
    text-align: center;
    margin-top: 122px;
    padding: 11px 47px 9px 50px;
    border-radius: 2px;
}

.slide-text h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
}

.slide-text p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-top: 2px;
}

.slide-text a:hover {
    background-color: rgb(202,44,55);
}

.slide-text a:active {
    background-color: rgb(186,39,50);
}

.move-slide-btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 114px;
    margin-left: 25px;
    width: 575px;
}

.move-slide-btn-left {
    width: 24px; 
    height: 41px;
    background-image: url(../img/SVG/icon-left.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.move-slide-btn-right {
    width: 24px; 
    height: 41px;
    background-image: url(../img/SVG/icon-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

/* Популярные продукты */

.product-active {
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 0;
    width: 218px;
    height: 175px;
    text-align: center;
    opacity: 0;
    background-color: rgb(255,255,255); 
}

li:hover .product-active {
    opacity: 1;
}

.product-active .active-buy {
    color: rgb(255,255,255);
    background-color: rgb(99,166,62);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    width: 129px;
    margin-left: 42px;
    margin-top: 45px;
    padding: 6px 0 6px 0;
    border: 3px solid rgb(99,166,62);
    border-bottom-color: rgb(54,115,21);
    border-radius: 2px;
    background-image: url(../img/SVG/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 10px 45%;
}

.product-active .active-bookmark {
    color: rgb(50,66,92);
    background-color: rgb(255,255,255);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    width: 129px;
    margin-left: 42px;
    padding: 8px 0 6px 0;
    border: 3px solid rgb(99,166,62);
    border-radius: 2px;
    margin-top: 7px;
}

.product-active .active-buy:hover {
    background-color: rgb(95,187,45);
    border: 3px solid rgb(95,187,45);
    border-bottom-color: rgb(54,115,21);
    border-radius: 2px;
    background-image: url(../img/SVG/icon-cart-hover.svg);
    background-repeat: no-repeat;
    background-position:10px 45%;
}

.product-active .active-bookmark:hover {
    color: rgb(50,66,92);
    background-color: rgb(255,255,255);
    border: 3px solid rgb(50,66,92);
    border-radius: 2px;
}

.product-active .active-buy:active {
    background-color: rgb(81,133,52);
    border: 3px solid rgb(81,133,52);
    border-bottom-color: rgb(81,133,52);
    border-radius: 2px;
    background-image: url(../img/SVG/icon-cart-hover.svg);
    background-repeat: no-repeat;
    background-position: 10px 45%;
}

.product-active .active-bookmark:active {
    color: rgb(193,198,206);
    background-color: rgb(255,255,255);
    border: 3px solid rgb(193,198,206);
    border-radius: 2px;
}

.popular-product-header, .popular-manufacturer-header {
    background-color: rgb(249,245,240); 
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 24px;
    margin-top: 54px;
}

.popular-product-header h2, .popular-manufacturer-header h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(50,66,92); 
    padding-top: 5px;
    padding-bottom: 4px;
}

.popular-product-header a, .popular-manufacturer-header a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgb(238,54,67);
    border-radius: 1px;
    width: 253px;
    height: 100%;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
 }

.popular-product-header a:hover, .popular-manufacturer-header a:hover {
    background-color: rgb(202,44,55);
}

.popular-product-header a:active, .popular-manufacturer-header a:active {
    background-color: rgb(186,39,50);
}

.popular-product-list ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.popular-product-list h3 {
    margin: 0;
    padding: 0;
    width: 160px;
    padding-left: 30px;
    text-align: center;
}

.popular-product-list img {
    width: 218px;
    height: 168px;
}

.popular-product-list li {
    width: 218px;
    min-height: 317px;
    list-style: none;
    border: 1px solid rgb(229,229,229);
    margin-top: 20px;
    position: relative;
}

.popular-product-list li:hover {
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 8px 25px 5px rgba(41,52,73,0.2);
}    

.popular-product-list a {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(0,0,0);
}

.popular-product-list p {
    text-align: center;
    margin: 0;
}

.popular-product-list .old-price, .perforators-catalog-list .old-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(169,169,169);
    text-decoration: line-through;
    margin-top: 6px;
    margin-left: 2px;
}

.popular-product-list .new-price, .perforators-catalog-list .new-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(255,255,255);
    background-image: url(../img/SVG/red-button.svg);
    background-position: 53% 50%;
    background-repeat:  no-repeat;
    margin-top: 9px;
    margin-left: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.popular-product-list .only-new-price, .perforators-catalog-list .only-new-price {
    margin-top: 32px;
    margin-left: 2px;
}

/* Популярные производители */

.popular-manufacturer-header {
    margin-top: 20px;
}

.popular-manufacturer-list ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
}

.popular-manufacturer-list li {
    width: 218px;
    min-height: 145px;
    list-style: none;
    border: 1px solid rgb(234,234,234);
    margin-top: 18px;
}

.popular-manufacturer-list a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.popular-manufacturer-list li:hover {
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 8px 25px 5px rgba(41,52,73,0.2);
}

.popular-manufacturer-list li:active {
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 5px 15px 0px rgba(41,52,73,0.2);
    opacity: 0.5;
}

/* Сервисы */

.services {
    background-color: rgb(244,248,249);
    margin-top: 83px;
}

.services-header h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(0,0,0);
    padding-top: 65px;
}

.services-header p {
    width: 400px;
    padding-top: 2px;
}

.services-main-btn {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 240px;
    position: relative;
}

.services-main-btn:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 272px;
    background-image: url(../img/PNG/services-main.png);
    background-repeat: no-repeat;
    left: 230px;
    bottom: 50px;
}

.services-main-btn button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(255,255,255);
    background-color: rgb(50,66,92);
    display: block;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 21px;
    border: none;
    border-top: 1px solid rgb(64,80,105);
    border-bottom: 1px solid rgb(41,52,73); 
    width: 240px;
} 

.services-hover:hover {
    color: rgb(255,255,255);
    background-color: rgb(41,52,73);
    border: 1px solid rgb(41,52,73);
    border-left: none; 
    border-right: none;
}

.services-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 58px;
}

.services-main-info {
    width: 620px;
    display: flex;
}

.services-main-info .services-main-delivery {
    background-image: url(../img/PNG/delivery.png);
    background-repeat: no-repeat; 
    background-position: right 20px;
}

.services-main-info .services-main-guarantee {
    background-image: url(../img/PNG/guarentee.png);
    background-repeat: no-repeat; 
    background-position: right 20px;
}

.services-main-info .services-main-credit {
    background-image: url(../img/PNG/credit.png);
    background-repeat: no-repeat; 
    background-position: right 20px;
}

.services-main-btn .btn-checked {
    color: rgb(50,66,92);
    background-color: rgb(255,255,255);
    border: 1px solid rgb(255,255,255);
}

.services-main-info h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(50,66,92);
    margin: 0;
    margin-top: -3px;
}

.services-main-delivery, .services-main-guarantee, .services-main-credit {
    min-height: 285px;
    width: 620px;
}

.services-none {
    display: none;
}

.services-main-info p {
    width: 278px;
    margin-top: 25px;
}

.services-main-credit a {
    background-color: rgb(255,83,87);
    text-transform: uppercase;
    border-radius: 1px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 45px 10px 45px;
}

/* О компании */

.about-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 535px;
    box-sizing: border-box;
}

.about-company h2 {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(0,0,0); 
    margin-top: 80px;
}

.about-company .company {
    display: flex;
    flex-flow: column;
    width: 520px;
    min-height: 370px; 
}

.company p {
    padding-top: 10px;
}

.company p:nth-child(3) {
    width: 390px;
    margin-top: -2px;
}

.about-company .main-contacts {
    display: flex;
    flex-flow: column;
    width: 300px; 
}

.company ul {
    list-style: none;
    padding: 0;
}

.company li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: rgb(0,0,0);
    margin-left: 36px; 
    position: relative;
}

.company li:before {
    display: flex;
    margin-top: 8px;
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: rgb(238,54,67);
    left: -36px;

}

.company li:not(:first-child) {
    padding-top: 20px; 
}

.company a, .main-contacts a:last-child {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgb(238,54,67);
}

.company a {
    padding: 10.5px 0 10.5px 0;
    text-align: center;
    width: 220px;
    margin-top: 20px;
}

.main-contacts p {
    width: 180px;
    padding-top: 10px;
}

.main-contacts img {
    margin-top: 20px;
}

.main-contacts a:last-child {
    padding: 10.5px 0 10.5px 0;
    margin-top: 30px;
    padding-left: 65px;
}

.company a:hover, .main-contacts a:last-child:hover {
    background-color: rgb(202,44,55);
}

.company a:active, .main-contacts a:last-child:active {
    background-color: rgb(186,39,50);
}

/* Стили для main каталога */

/* Общие для стили main каталога */

.main-catalog a {
    text-decoration: none;
    color: rgb(255,255,255);
}

/* Индивидуальные стили для main  каталога*/

.perforators-filters-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.perforators-filters {
    width: 220px;
}

.perforators-catalog {
    width: 700px;
}

/* Оформление breadcrumbs */

.breadcrumbs ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    width: 362px;
    position: relative;
    margin-top: 21px;
} 

.breadcrumbs ul:last-child {
    margin-left: -5px;
}

.breadcrumbs a {
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(0,0,0);
} 

.breadcrumbs .home {
    width: 14px;
    height: 14px;
    background-image: url(../img/SVG/icon-home.svg);
    background-repeat: no-repeat;
    margin-left: 3px;
}

.breadcrumbs .home:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 13px;
    background-image: url(../img/SVG/icon-right-small.svg);
    background-repeat: no-repeat;
    bottom: 2px;
    margin-left: 30px;
}

.breadcrumbs .catalog:after, .breadcrumbs .tool:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 13px;
    background-image: url(../img/SVG/icon-right-small.svg);
    background-repeat: no-repeat;
    bottom: 2px;
    margin-left: 20px;
}

/* Оформление заголовка */

.perforators-header {
    font-family: "Cuprum", "Arial", sans-serif;
    background-color: rgb(242,246,248);
    margin-top: -5px;
}

.perforators-header h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: rgb(50,66,92);
    text-transform: uppercase;
    padding-left: 29px;
    padding-top: 29.5px;
    padding-bottom: 29.5px;
}

/* Оформление фильтра */

.perforators-filters h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 0 10px 18px;
    background-color: rgb(247,243,236);
    border-radius: 1px;
    margin: 0;
    margin-bottom: 10px;
} 

.perforators-filters-catalog {
    margin-top: -5px;
}

.filter-price {
    border-bottom: 1px solid rgb(229,229,229);
}

.filter-price h3 {
    margin-top: 5px;    
}

.price-range {
    min-height: 80px;
    background-color: rgb(247,243,236);
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 19px;
    padding-right: 40px;
    margin-top: 5px;
}

.range-circle-first, .range-circle-second {
    width: 20px;
    height: 22px;
    background-image: url(../img/SVG/filter-button.svg);
    background-repeat: no-repeat;
    position: relative;
}

.range-circle-first:after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: rgb(0,202,116);
    position: absolute;
    top: 9px;
    left: 20px;
}

.range-circle-second:after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: rgb(215,220,222);
    position: absolute;
    top: 9px;
    left: 20px;
}

.price-range-input {
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.price-range-input li:last-child {
    margin-right: -28px;
}

.price-range-input input {
    box-sizing: border-box;
    width: 95px;
    height: 38px;
    text-align: center;
    margin-top: -4px;
    border: none;
    border-radius: 3px;
    background-color: rgb(247,243,236);
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.price-range-input span {
    font-size: 17px;
    line-height: 30px;
    margin-left: -17px;
    margin-right: 7px;


}

.perforators-filters h3 {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
} 

.filter-manufacturer li {
    padding-top: 16px;
}

.filter-manufacturer {
    min-height: 240px;
    border-bottom: 1px solid rgb(229,229,229);
}

.filter-manufacturer h3 {
    margin-bottom: -5px;
}

.filter-supply {
    min-height: 200px;
}

.filter-supply h3 {
    margin-top: 23px;
    margin-bottom: 13px;
}

.filter-supply ul, .filter-manufacturer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.filter-supply-list li:last-child {
    padding-top: 17px;
}

.filter-supply ul {
    margin-bottom: -15px;
}

.perforators-filters label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 36px;
}

.perforators-filters button {
    background-color: rgb(255,255,255);
    border: 1px solid rgb(229,229,229);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 140px;
    padding: 8px 0 8px 0;
}

.filter-manufacturer input[type="checkbox"], .filter-supply input[type="radio"] {
    display: none;
}

.filter-manufacturer input[type="checkbox"] + label:before {
    content: '';
    width: 28px;
    height: 27px;
    position: absolute;
    background-image: url(../img/SVG/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    left: -2px;
    top: -4px;
}

.filter-manufacturer input[type="checkbox"]:checked + label:before {
    background-image: url(../img/SVG/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    left: 0px;
}

.filter-supply input[type="radio"] + label:before {
    content: '';
    width: 28px;
    height: 27px;
    position: absolute;
    background-image: url(../img/SVG/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    left: -3px;
    top: -4px;
}

.filter-supply input[type="radio"]:checked + label:before {
    background-image: url(../img/SVG/radio-on.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.perforators-filters-catalog label {
    position: relative;
}

/* Оформление сортировки */

.sorting {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgb(247,243,236);
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sorting span {
    padding: 10px 0 10px 18px;
    margin-right: 98px;
}

.sorting ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.sorting-by-type {
    display: flex;
    justify-content: space-between;
    width: 355px;
}

.sorting-by-type a {
    color: rgb(202,202,202);
    border-bottom: 1px dashed rgb(238,54,67);
}

.sorting-by-type a:hover {
    color: rgb(0,0,0);
    border-bottom: 1px solid rgb(238,54,67);
}

.sorting-by-type a:active {
    color: rgb(238,54,67);
    border-bottom: none;
}

.sorting-by-type .sorting-by-active {
    color: rgb(238,54,67);
    border-bottom: none;
}

.sorting-by-up-down .sorting-up {
    display: block;
    width: 11px;
    height: 10px;
    margin-right: 21px;
    background-image: url(../img/SVG/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-bottom: none;
}

.sorting-by-up-down .sorting-up:hover {
    border-bottom: none;
}

.ssorting-by-up-down .sorting-up:active {
    border-bottom: none;
}

.sorting-by-up-down .sorting-down {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url(../img/SVG/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-bottom: none;
    margin-right: 17px;
}

.sorting-by-up-down .sorting-down:hover {
    border-bottom: none;
    background-image: url(../img/SVG/icon-down-dir-hover.svg);
}

.sorting-by-up-down .sorting-down:active {
    border-bottom: none;
    background-image: url(../img/SVG/icon-down-dir-active.svg);
}

/* Оформление каталога */

.perforators-catalog-list  {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.perforators-catalog-list h3 {
    margin: 0;
    padding: 0;
    width: 160px;
    padding-left: 30px;
    text-align: center;
}

.perforators-catalog-list img {
    width: 218px;
    height: 168px;
}

.perforators-catalog-list p {
    text-align: center;
    margin: 0;
}

.perforators-catalog-list li {
    list-style: none;
    border: 1px solid rgb(234,234,234);
    width: 218px;
    min-height: 318px;
    margin-top: 19px;
    position: relative;
}

.perforators-catalog-list li:hover {
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 8px 25px 5px rgba(41,52,73,0.2);
}

.perforators-catalog-list a {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(0,0,0);
}

.perforators-catalog-list p, .perforators-catalog-list h3 {
    text-align: center;
}

/* Оформление списка страниц */

.perforators-catalog-page li {
    margin-top: 8px;
    margin-bottom: 28px;
}

.perforators-catalog-page a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(0,0,0);
    border: 1px solid rgb(229,229,229);
    border-radius: 2px;
    background-color: rgb(255,255,255);
    padding-top: 9px;
    padding-bottom: 10px; 
    padding-left: 15px;
    padding-right: 14px;
}

.perforators-catalog-page .next-page-btn {
    padding-left: 30px;
    padding-right: 30px;
}

.perforators-catalog-page a:hover {
    border: 1px solid rgb(189,198,202)
}

.perforators-catalog-page a:active {
    border: 1px solid rgb(238,54,67)
}

.perforators-catalog-page {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 286px;
    margin-top: 48px;
}

.perforators-catalog-page .active-page-btn {
    color: rgb(255,255,255);
    background-color: rgb(238,54,67);
    border: 1px solid rgb(238,54,67)
}

/* Оформление *Пара слов о перфораторах* */

.perforators-article {
    background-color: rgb(242,246,248);
    min-height: 261px;
    margin-bottom: -13px;
}

.perforators-article h2 {
    padding-top: 66px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

/* Стили для footer */

/* Обшие стили для footer */

.footer-index, .footer-catalog {
    font-family: "Cuprum", "Arial", sans-serif;
    background-color: rgb(50,66,92);
}

/* Индивидуальные стили для footer */

/* Индивидуальные стили для footer-top */

.footer-top {
    min-height: 193px;
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
}

.footer-logo {
    background-color: rgb(238,54,67);
    text-align: center;
    box-shadow: 0 5px 0 0 rgb(181,41,51);
    display: inline-block;
    padding: 20px 41px 12px 41px;
}

.footer-logo:hover {
    background-color: rgb(202,44,55);
    box-shadow: 0 5px 0 0 rgb(154,33,42);
}

.footer-logo:active {
    background-color: rgb(186,39,50);
    box-shadow: 0 5px 0 0 rgb(142,30,38);
}

.footer-contacts {
    width: 323px;
    margin-top: 32px;
    padding-left: 3px;
}

.footer-contacts p {
    font-size: 18px;
    line-height: 24px;
    color: rgb(243,247,249);
    margin: 0;
}

.additional-references {
    font-size: 18px;
    line-height: 24px;
    padding-top: 40px;
    width: 550px;
}

.additional-references ul {
    margin: 0;
    padding: 0;
}

.additional-references ul:last-child {
    padding-top: 32px;
}

.additional-references a {
    text-decoration: none;
}

.additional-references-top, .additional-references-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.additional-references-bottom li:first-child {
    padding-left: 23px;
}

.additional-references-top a {
    color: rgb(243,247,249);
}

.additional-references-bottom a {
    color: rgb(255,209,158);
}

.additional-references a:hover {
    text-decoration: underline;
}

.additional-references-top a:active {
    color: rgb(146,156,170);
    text-decoration: none;
}

.additional-references-bottom a:active {
    color: rgb(153,138,110);
    text-decoration: none;
}

/* Индивидуальные стили для footer-bottom */

.footer-bottom {
    min-height: 107px;
}

.footer-bottom .footer-bottom-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 35px;
}

.copyright {
    width: 230px;
}

.social-network-link {
    margin-left: 160px;
}

.feedback {
    margin-left: 118px;
}

.developed {
    margin-left: 54px;
}

.social-network-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 130px;
}

.social-network-link a {
    width:40px;
    height:40px;
    border-radius:50%;
    background: rgb(33,42,58);
}

.social-network-link a:hover, .social-network-link a:active {
    background: rgb(238,54,67);
}

.social-network-link a:first-child {
    background-image: url(../img/SVG/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-network-link a:nth-child(2) {
    background-image: url(../img/SVG/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-network-link a:last-child {
    background-image: url(../img/SVG/icon-insta.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-bottom {
    background-color: rgb(41,52,73);
    font-size: 16px;
    line-height: 18px;
    color: rgb(255,255,255);
}

.feedback {
    margin-top: 2px;
    padding-left: 4px;
}

.developed {
    margin-top: 2px;
}

.feedback p, .developed p, .copyright p {
    margin: 0;
}

.feedback a, .developed a {
    color: rgb(255,209,128);
    text-decoration: none;  
}

.feedback a:hover, .developed a:hover {
    text-decoration: underline;    
}

.feedback a:active, .developed a:active {
    color: rgb(238,54,67);
    text-decoration: none;    
}

/* Стили для модалок */

/* Модалка map */

.modal-content-map {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -471px;
    display: none;
    z-index: 2;
}

/* Модалка на главной */

.modal-content-write-us {
    font-family: "Cuprum", "Arial", sans-serif;
    box-shadow: inset 0 7px 0 0 rgb(255,83,87), 0 20px 60px -2px black;
    width: 620px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -310px;
    display: none;
    z-index: 2;
}

.write-us-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    width: 460px;
    margin: 0 auto;
    min-height: 318px;
}
.field-name {
    padding-top: 55px;
    padding-bottom: 30px;
}

.user-e-mail {
    padding-top: 55px;
    padding-bottom: 30px;
}

.write-us-header label {
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.write-us-header input {
    width: 212px;
    height: 34px;

}

.write-us-header textarea {
    width: 452px;
    height: 110px;
}

.write-us-header input, .wtite-us-header textarea {
    border: 2px solid rgb(215,220,222);
    border-radius: 2px;
}

.write-us-header input:hover, .wtite-us-header textarea:hover {
    border: 2px solid rgb(181,181,181);
}

.write-us-header input:focus, .wtite-us-header textarea:focus {
    border: 2px solid rgb(238,54,67);
}

.write-us-footer {
    background-color: rgb(244,244,244);
    min-height: 112px;
    text-align: center;
}

.write-us-footer button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(255,255,255);
    border: none;
    border-radius: 1px;
    background-color: rgb(238,54,67);
    padding: 10px 200px 10px 200px;
    margin-top: 37px;
}

.write-us-footer button:hover {
    background-color: rgb(202,44,55);
}

.write-us-footer button:active {
    background-color: rgb(186,39,50);
}

/* Модалка в каталоге */

.modal-content-add-product {
    font-family: "Cuprum", "Arial", sans-serif;
    box-shadow: inset 0 7px 0 0 rgb(255,83,87), 0 20px 60px -2px black;
    width: 620px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -310px;
    display: none;
    z-index: 2;
}

.close-map, .close-write-us, .close-add-product {
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 95%;
    background-image: url(../img/SVG/icon-close.svg);
    background-repeat: no-repeat;
}

.add-product-header {
    min-height: 170px;
    background-image: url(../img/SVG/icon-mark.svg);
    background-repeat: no-repeat;
    background-position: 80px 55px;
}

.modal-content-add-product p {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding-left: 170px;
    padding-top: 75px;
}

.add-product-button {
    background-color: rgb(244,244,244);
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    min-height: 112px;
    align-items: center;
}

.add-product-button a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgb(238,54,67);
    padding: 10px 61px 10px 61px;
}

.add-product-button a:last-child {
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    padding: 10px 46px 10px 46px;
}

.add-product-button .active-btn:hover {
    background-color: rgb(202,44,55);
}

.add-product-button .active-btn:active {
    background-color: rgb(186,39,50);
}

/* modal-show эфекты модалок */

@keyframes appearance {
    0%   { transform: translateY(-2000px); }
    70%  { transform: translateY(30px);    }
    90%  { transform: translateY(-10px);   }
    100% { transform: translateY(0px);     }
}

@keyframes shaking {
    0%, 100%                 { transform: translateX(0px);  }
    10%, 30%, 50%, 70%, 90%  { transform: translateX(-10px);}
    20%, 40%, 60%, 80%       { transform: translateX(10px); }
}

.modal-show {
    display: block;
    animation-name: appearance;
    animation-duration: .8s;
}

.modal-error {
    animation-name: shaking;
    animation-duration: .3s;
}
